<div id="wrapper">

  <div id="page-content" class="full-width">
    <div class="container">
      <div class="row">
        <div class="offset-md-4 col-md-4">

          <div class="page-brand">
            <i class="ion ion-ios-pulse-strong" aria-hidden="true"></i>
          </div>

          <div class="card card-default widget animated">
            <div class="card-heading">
              <h3 class="card-title">Reset Password</h3>
            </div>
            <div class="card-body">

              <p class="text-muted text-center">
                Enter your email address and we'll send you an email with instructions to reset your password.
              </p>

              <form action="">
                <div class="form-group">
                  <label>Email</label>
                  <input type="email" class="form-control" placeholder="Email">
                </div>
                <button type="submit" class="btn btn-success btn-block btn-lg">Reset Password</button>
              </form>
            </div>
          </div>

          <div class="text-center">
            <span class="text-muted">Already have your credentials? </span> <a href="page-login.html">Sign In</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
