<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Profile</a>
<ul class="dropdown-menu">
  <li><a class="dropdown-item" href="#"><i class="ion ion-person"></i> View Profile</a></li>
  <li><a class="dropdown-item" href="#"><i class="ion ion-chatbubbles"></i> Contacts</a></li>
  <li><a class="dropdown-item" href="#"><i class="ion ion-email"></i> Mailbox</a></li>
  <li><a class="dropdown-item" href="#"><i class="ion ion-gear-b"></i> Settings</a></li>
  <li role="separator" class="dropdown-divider"></li>
  <li><a class="dropdown-item" href="#"><i class="ion ion-log-out"></i> Sign out</a></li>
</ul>