<div id="wrapper">

  <nav class="navbar navbar-spark navbar-toggleable">
    <div class="container-fluid">
      <button type="button" class="sidebar-open hidden-md-up">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      <a class="navbar-brand hidden-sm-down" href="index.html">
          <i class="ion ion-ios-pulse-strong" aria-hidden="true"></i>
        </a>
      <ul class="nav navbar-nav navbar-right">

        <!--TOP-BAR-PROFILE-->
        <li app-top-bar-profile class="nav-item dropdown active"></li>

        <!--MESSAGES-->
        <li app-top-messages class="nav-item dropdown"></li>

        <!--TASKS-->
        <li app-top-bar-tasks class="nav-item dropdown"></li>

        <!--AVATAR-->
        <li app-top-bar-avatar class="nav-item"></li>
      </ul>
    </div>
  </nav>

  <div id="content">
    <header id="page-header">
      <div class="container-fluid">
        <div class="row">

          <!--TITLE-->
          <div app-dashboard-title class="col-sm-8 page-title-wrapper"></div>

          <!--SEARCH-->
          <div app-dashboard-search class="col-sm-4 hidden-sm-down page-search-wrapper"></div>

        </div>
      </div>
    </header>
    <div id="page-body">
      <div class="container-fluid">
        <div id="page-sidebar" class="toggled sidebar">
          <nav class="sidebar-collapse hidden-sm-down">
            <i class="ion ion-ios-arrow-forward show-on-collapsed"></i>
            <i class="ion ion-ios-arrow-back hide-on-collapsed"></i>
          </nav>

          <!--SIDE-BAR-->
          <ul app-sidebar class="nav nav-pills nav-stacked flex-column" id="sidebar-stacked"></ul>

        </div>
        <div id="page-content">
          <div class="row">
            <div class="col-md-12">
              <div class="card card-default widget animated" style="animation-delay: 0.34s;">
                <div class="card-heading">
                  <div class="card-controls">
                    <a href="#" class="widget-minify"><i class="fa fa-chevron-up"></i></a>
                    <a href="#" class="widget-close"><i class="fa fa-times"></i></a>
                  </div>
                  <h2 class="card-title">{{title}}</h2>
                </div>
                <div class="card-body">
                  <router-outlet></router-outlet>
                </div>
              </div>
            </div>
          </div>
          <!--FOOTER-->
          <footer app-footer id="footer" class="text-center"></footer>
        </div>
      </div>
    </div>
  </div>
</div>
