<div id="wrapper">

  <nav class="navbar navbar-spark navbar-toggleable">
    <div class="container-fluid">
      <button type="button" class="sidebar-open hidden-md-up">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      <a class="navbar-brand hidden-sm-down" href="index.html">
          <i class="ion ion-ios-pulse-strong" aria-hidden="true"></i>
        </a>
      <ul class="nav navbar-nav navbar-right">

        <!--TOP-BAR-PROFILE-->
        <li app-top-bar-profile class="nav-item dropdown active"></li>

        <!--MESSAGES-->
        <li app-top-messages class="nav-item dropdown"></li>

        <!--TASKS-->
        <li app-top-bar-tasks class="nav-item dropdown"></li>

        <!--AVATAR-->
        <li app-top-bar-avatar class="nav-item"></li>
      </ul>
    </div>
  </nav>

  <div id="content">
    <header id="page-header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-8 page-title-wrapper">
            <h1 class="page-title">Dashboard</h1>
            <h2 class="page-subtitle">Statistics</h2>
          </div>
          <div class="col-sm-4 hidden-sm-down page-search-wrapper">
            <input type="text" class="form-control form-control-lg keyword-search" placeholder="Search for files & reports..">
          </div>
        </div>
      </div>
    </header>
    <div id="page-body">
      <div class="container-fluid">
        <div id="page-sidebar" class="toggled sidebar">
          <nav class="sidebar-collapse hidden-sm-down">
            <i class="ion ion-ios-arrow-forward show-on-collapsed"></i>
            <i class="ion ion-ios-arrow-back hide-on-collapsed"></i>
          </nav>

          <!--SIDE-BAR-->
          <ul app-sidebar class="nav nav-pills nav-stacked flex-column" id="sidebar-stacked"></ul>

        </div>
        <div id="page-content">
          <div class="row">
            <div class="col-md-9 col-sm-8">
              <div class="card card-default widget">
                <div class="card-heading">
                  <div class="card-controls">
                    <select class="form-control form-control-sm hidden-sm-down" style="width:130px; display:inline-block" placeholder="Month">
                        <option>January</option>
                        <option>February</option>
                        <option>March</option>
                        <option>April</option>
                        <option selected>May</option>
                        <option>June</option>
                        <option>July</option>
                        <option>August</option>
                        <option>September</option>
                        <option>October</option>
                        <option>November</option>
                        <option>December</option>
                      </select>
                    <select class="form-control form-control-sm hidden-sm-down" style="width:130px; display:inline-block" placeholder="">
                        <option selected>Line Chart</option>
                        <option>Candle Sticks</option>
                      </select>

                    <a href="#" class="widget-minify"><i class="fa fa-chevron-up"></i></a>
                    <a href="#" class="widget-close"><i class="fa fa-times"></i></a>
                  </div>
                  <h3 class="card-title">Recent Movement</h3>
                </div>
                <div class="card-body">
                  <div id="chart-profit" style="height:360px;"></div>
                </div>
              </div>
            </div>
            <!-- /.col-md-9 -->
            <div class="col-md-3 col-sm-4">
              <div class="panel card-default widget">
                <div class="card-heading">
                  <div class="card-controls">
                    <a href="#" class="widget-minify"><i class="fa fa-chevron-up"></i></a>
                    <a href="#" class="widget-close"><i class="fa fa-times"></i></a>
                  </div>
                  <h3 class="card-title">Browser Usage</h3>
                </div>
                <div class="card-body">
                  <div id="chart-pie" class="margin-20" style="height: 300px;"></div>
                  <div class="chart-legend pull-right">
                    <div class="item">
                      <div class="color background-success"></div> Chrome
                    </div>
                    <div class="item">
                      <div class="color background-info"></div> Firefox
                    </div>
                    <div class="item">
                      <div class="color background-warning"></div> IE
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.col-md-3 -->
          </div>
          <div class="row">
            <div class="col-lg-4">
              <div class="panel card-default widget widget-resellers">
                <div class="card-heading">
                  <div class="card-controls">
                    <a href="#" class="widget-minify"><i class="fa fa-chevron-up"></i></a>
                    <a href="#" class="widget-close"><i class="fa fa-times"></i></a>
                  </div>
                  <h3 class="card-title">Resellers</h3>
                </div>
                <div class="card-body">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th style="width:25%;">Company</th>
                        <th class="text-right" style="width:25%;">Sales</th>
                      </tr>
                    </thead>
                  </table>
                  <ul class="resellers-slider list-unstyled">
                    <li>
                      <table class="table">
                        <tbody>
                          <tr>
                            <td>Harvey C. Lerma</td>
                            <td style="width:25%;">Cisco</td>
                            <td style="width:25%;" class="text-right">$ 135,000</td>
                          </tr>
                          <tr>
                            <td>Martin C. Randall</td>
                            <td>Oracle</td>
                            <td class="text-right">$ 152,000</td>
                          </tr>
                          <tr>
                            <td>Eric G. Vann</td>
                            <td>IBM</td>
                            <td class="text-right">$ 94,000</td>
                          </tr>
                          <tr>
                            <td>Howard K. Haubrich</td>
                            <td>Capco</td>
                            <td class="text-right">$ 168,000</td>
                          </tr>
                          <tr>
                            <td>Carlos L. Johnson</td>
                            <td>EMC</td>
                            <td class="text-right">$ 82,000</td>
                          </tr>
                          <tr>
                            <td>Stacy R. Lester</td>
                            <td>Capita</td>
                            <td class="text-right">$ 110,000</td>
                          </tr>
                          <tr>
                            <td>Shaun M. Henry</td>
                            <td>Accenture</td>
                            <td class="text-right">$ 104,000</td>
                          </tr>
                          <tr>
                            <td>James B. Jimenez</td>
                            <td>Fujitsu</td>
                            <td class="text-right">$ 121,000</td>
                          </tr>
                        </tbody>
                      </table>
                    </li>
                    <li>
                      <table class="table">
                        <tbody>
                          <tr>
                            <td>Chang M. Santiago</td>
                            <td style="width:25%;">Cisco</td>
                            <td style="width:25%;" class="text-right">$ 135,000</td>
                          </tr>
                          <tr>
                            <td>Alan D. Hebert</td>
                            <td>IBM</td>
                            <td class="text-right">$ 92,000</td>
                          </tr>
                          <tr>
                            <td>Christopher M. Erwin</td>
                            <td>Capita</td>
                            <td class="text-right">$ 108,000</td>
                          </tr>
                          <tr>
                            <td>Jeremy B. Blevins</td>
                            <td>Oracle</td>
                            <td class="text-right">$ 125,000</td>
                          </tr>
                          <tr>
                            <td>Joseph C. Wong</td>
                            <td>Accenture</td>
                            <td class="text-right">$ 109,000</td>
                          </tr>
                          <tr>
                            <td>Ismael D. Chatman</td>
                            <td>Fujitsu</td>
                            <td class="text-right">$ 117,000</td>
                          </tr>
                          <tr>
                            <td>Daryl S. Boyd</td>
                            <td>EMC</td>
                            <td class="text-right">$ 86,000</td>
                          </tr>
                          <tr>
                            <td>Richard S. Crook</td>
                            <td>Capco</td>
                            <td class="text-right">$ 154,000</td>
                          </tr>
                        </tbody>
                      </table>
                    </li>
                  </ul>

                </div>
              </div>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-8">
              <div class="panel card-default widget widget-worldmap">
                <div class="card-heading">
                  <div class="card-controls">
                    <a href="#" class="widget-minify"><i class="fa fa-chevron-up"></i></a>
                    <a href="#" class="widget-close"><i class="fa fa-times"></i></a>
                  </div>
                  <h3 class="card-title">Worldwide Transactions</h3>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-8 col-md-7">
                      <div id="world-map" style="height:320px"></div>
                    </div>
                    <!-- /.col-lg-8 -->
                    <div class="col-lg-4 col-md-5">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Country</th>
                            <th class="text-right">Sales</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Brazil</td>
                            <td class="text-right">$ 123.00</td>
                          </tr>
                          <tr>
                            <td>United Kingdom</td>
                            <td class="text-right">$ 147.00</td>
                          </tr>
                          <tr>
                            <td>Germany</td>
                            <td class="text-right">$ 104.00</td>
                          </tr>
                          <tr>
                            <td>France</td>
                            <td class="text-right">$ 92.00</td>
                          </tr>
                          <tr>
                            <td>Saudi Arabia</td>
                            <td class="text-right">$ 48.00</td>
                          </tr>
                          <tr>
                            <td>China</td>
                            <td class="text-right">$ 231.00</td>
                          </tr>
                          <tr>
                            <td>India</td>
                            <td class="text-right">$ 172.00</td>
                          </tr>
                          <tr>
                            <td>Australia</td>
                            <td class="text-right">$ 143.00</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <!-- /.col-lg-4 -->
                  </div>
                </div>
              </div>
            </div>
            <!-- /.col-lg-8 -->
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="panel card-default widget widget-messages">
                <div class="card-heading">
                  <div class="card-controls">
                    <a href="#" class="widget-minify"><i class="fa fa-chevron-up"></i></a>
                    <a href="#" class="widget-close"><i class="fa fa-times"></i></a>
                  </div>
                  <h3 class="card-title">Messages</h3>
                </div>
                <div class="card-body">
                  <div class="media-items">
                    <div class="media">
                      <div class="media-left">
                        <a href="#">
                            <img class="media-object img-circle" src="assets/img/avatar-500x500.png" width="48" height="48">
                          </a>
                      </div>
                      <div class="media-body">
                        <p class="media-heading weight-regular">
                          Linda Miller
                          <span class="pull-right text-sm">5m ago</span>
                        </p>
                        <span class="text-sm text-muted">Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, quam semper libero..</span>
                      </div>
                    </div>

                    <div class="media">
                      <div class="media-left">
                        <a href="#">
                            <img class="media-object img-circle" src="assets/img/avatar-500x500-2.png" width="48" height="48">
                          </a>
                      </div>
                      <div class="media-body">
                        <p class="media-heading weight-regular">
                          Kathie Burton
                          <span class="pull-right text-sm">15m ago</span>
                        </p>
                        <span class="text-sm text-muted">Nam pretium turpis et arcu. Duis arcu tortor, suscipit eget, imperdiet nec, imperdiet..</span>
                      </div>
                    </div>

                    <div class="media">
                      <div class="media-left">
                        <a href="#">
                            <img class="media-object img-circle" src="assets/img/avatar-500x500.png" width="48" height="48">
                          </a>
                      </div>
                      <div class="media-body">
                        <p class="media-heading weight-regular">
                          Linda Miller
                          <span class="pull-right text-sm">2h ago</span>
                        </p>
                        <span class="text-sm text-muted">Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, quam semper libero..</span>
                      </div>
                    </div>

                    <div class="media">
                      <div class="media-left">
                        <a href="#">
                            <img class="media-object img-circle" src="assets/img/avatar-500x500-2.png" width="48" height="48">
                          </a>
                      </div>
                      <div class="media-body">
                        <p class="media-heading weight-regular">
                          Kathie Burton
                          <span class="pull-right text-sm">3h ago</span>
                        </p>
                        <span class="text-sm text-muted">Nam pretium turpis et arcu. Duis arcu tortor, suscipit eget, imperdiet nec, imperdiet..</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4">
              <div class="panel card-default widget widget-todo">
                <div class="card-heading">
                  <div class="card-controls">
                    <a href="#" class="widget-minify"><i class="fa fa-chevron-up"></i></a>
                    <a href="#" class="widget-close"><i class="fa fa-times"></i></a>
                  </div>
                  <h3 class="card-title">Todo List</h3>
                </div>
                <div class="card-body">
                  <div class="todo">
                    <ul class="list-unstyled">
                      <li class="todo-item">
                        <i class="checkbox fa fa-square-o"></i> <span>Take out the trash</span>
                      </li>
                      <li class="todo-item done">
                        <i class="checkbox fa fa-check-square"></i> <span>Buy milk</span>
                      </li>
                      <li class="todo-item">
                        <i class="checkbox fa fa-square-o"></i> <span>Plan holiday <span class="badge badge-warning text-sm">Important</span></span>
                      </li>
                      <li class="todo-item done">
                        <i class="checkbox fa fa-check-square"></i> <span>Create admin theme</span>
                      </li>
                      <li class="todo-item">
                        <i class="checkbox fa fa-square-o"></i> <span>Buy a new printer</span>
                      </li>
                      <li class="todo-item">
                        <i class="checkbox fa fa-square-o"></i> <span>Workout</span>
                      </li>
                      <li class="todo-item">
                        <i class="checkbox fa fa-square-o"></i> <span>Pick up kids</span>
                      </li>
                      <li class="todo-item">
                        <i class="checkbox fa fa-square-o"></i> <span>Buy Spark</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4">
              <div class="panel card-default widget widget-calendar">
                <div class="card-heading">
                  <div class="card-controls">
                    <a href="#" class="widget-minify"><i class="fa fa-chevron-up"></i></a>
                    <a href="#" class="widget-close"><i class="fa fa-times"></i></a>
                  </div>
                  <h3 class="card-title">Calendar</h3>
                </div>
                <div class="card-body">
                  <div class="calendar"></div>
                </div>
              </div>
            </div>
            <!-- /.col-md-4 -->
          </div>

          <footer app-footer id="footer" class="text-center"></footer>
        </div>
      </div>
    </div>
  </div>
</div>
