<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tasks</a>
<div class="dropdown-menu dropdown-md last-dropdown">

  <div class="dropdown-task text-muted">
    <div class="pull-right text-sm">50%</div>
    Google Chrome Extension
    <div class="progress">
      <div class="progress-bar bg-warning" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>

  <div class="dropdown-task text-muted">
    <div class="pull-right text-sm">90%</div>
    Bootstrap Admin Theme
    <div class="progress">
      <div class="progress-bar bg-success" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>

  <div class="dropdown-task text-muted">
    <div class="pull-right text-sm">33%</div>
    YouTube Client
    <div class="progress">
      <div class="progress-bar bg-danger" role="progressbar" style="width: 33%" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>

  <div class="dropdown-task text-muted">
    <div class="pull-right text-sm">40%</div>
    Form Validation
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>

  <a class="dropdown-menu-footer" href="#">
                View all
              </a>

</div>
