<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Messages</a>
<div class="dropdown-menu dropdown-md">

  <div class="media-items">
    <div class="media">
      <div class="media-left">
        <a href="#">
                      <img class="media-object img-circle" src="assets/img/avatar-500x500.png" width="38" height="38">
                    </a>
      </div>
      <div class="media-body text-muted">
        <p class="media-heading">Linda Miller</p>
        <span class="text-sm">Aenean posuere, tortor sed..</span>
      </div>
    </div>

    <div class="media">
      <div class="media-left">
        <a href="#">
                      <img class="media-object img-circle" src="assets/img/avatar-500x500-2.png" width="38" height="38">
                    </a>
      </div>
      <div class="media-body text-muted">
        <p class="media-heading">Kathie Burton</p>
        <span class="text-sm">Nam pretium turpis et arcu..</span>
      </div>
    </div>

    <div class="media">
      <div class="media-left">
        <a href="#">
                      <img class="media-object img-circle" src="assets/img/avatar-500x500.png" width="38" height="38">
                    </a>
      </div>
      <div class="media-body text-muted">
        <p class="media-heading">Linda Miller</p>
        <span class="text-sm">Aenean posuere, tortor sed..</span>
      </div>
    </div>

    <div class="media">
      <div class="media-left">
        <a href="#">
                      <img class="media-object img-circle" src="assets/img/avatar-500x500-2.png" width="38" height="38">
                    </a>
      </div>
      <div class="media-body text-muted">
        <p class="media-heading">Kathie Burton</p>
        <span class="text-sm">Nam pretium turpis et arcu..</span>
      </div>
    </div>
  </div>

  <a class="dropdown-menu-footer" href="#">
                View all
              </a>

</div>
