<div id="wrapper">

  <div id="page-content" class="full-width">
    <div class="container">
      <div class="row">
        <div class="offset-md-4 col-md-4">

          <div class="page-brand">
            <i class="ion ion-ios-pulse-strong" aria-hidden="true"></i>
          </div>

          <div class="card card-default widget animated">
            <div class="card-heading text-center">
              <h3 class="card-title">Page not found</h3>
            </div>
            <div class="card-body">

              <p class="error-code">
                404
              </p>

              <p class="text-center text-muted">
                Sorry, but the page you are looking for has note been found. Try checking the URL for error, then hit the refresh button
                on your browser or try found something else in our app.
              </p>
            </div>
          </div>

          <div class="text-center">
            <span class="text-muted">Back to</span> <a href="index.html">Home</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
